<% if current_user %>
    <% if @error %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= @error %>
        </div>
    <% end %>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-triangle-right"></span>レビュー投稿</div>
                <div class="panel-body">
                    <form action="/review/create" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">タイトル</label>
                            <input id="title" class="form-control" type="text" name="title" />
                        </div>
                        <div class="form-group">
                            <label for="caption">キャプション</label>
                            <input id="caption" class="form-control" type="text" name="caption" />
                        </div>
                        <div class="form-group">
                            <label for="caption">カテゴリ</label>
                            <select id="caption" class="form-control" name="category_id">
                                <% @categories.each do |category| %>
                                    <option value="<%= category.id %>"><%= category.name %></option>
                                <% end %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="image">写真</label>
                            <input id="image" type="file" name="image">
                        </div>
                        <div class="form-group">
                            <label for="body">レビュー</label>
                            <textarea id="body" class="form-control" name="body" cols="30" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">
                            投稿 <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<% end %>

<div class="row">
    <h1 class="page-header">Review</h1>
</div>
<div class="row">
    <div class="col-md-9">
        <ul class="list-group">
            <% @reviews.each do |review| %>
                <div class="row" id="review-<%= review.id %>">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-bookmark"></span>
                                <%= review.title %>
                                <% if Favorite.where(review: review, user: current_user).first %>
                                    <span class="favorite pull-right glyphicon glyphicon-star" data-id="<%= review.id %>"></span>
                                <% else %>
                                    <span class="favorite pull-right glyphicon glyphicon-star-empty" data-id="<%= review.id %>"></span>
                                <% end %>
                            </div>
                            <div class="panel-body body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <% if review.image %>
                                            <img class="img-thumbnail img-responsive" src="/review/<%= review.id %>/image" alt="">
                                        <% end %>
                                    </div>
                                    <div class="col-md-9 break">
                                        <%= review.body %>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <span class="glyphicon glyphicon-tag"></span>
                                <a href="/category/<%= review.category.id %>" ><%= review.category.name %></a>
                                <span class="glyphicon glyphicon-user"></span>
                                <a href="/user/<%= review.user.id %>" ><%= review.user.name %></a>
                                <span class="pull-right"><%= review.updated_at.strftime("%Y/%m/%d") %></span>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </ul>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12"><h3>おすすめ</h3></div>
        </div>
        <div class="list-group">
            <% if @recommend %>
                <a href="/#review-<%= @recommend.id %>" class="list-group-item"><%= @recommend.title %> <span class="badge"><span class="glyphicon glyphicon-star"></span><%= @recommend.favorites.count %></span></a>
            <% end %>
        </div>
        <div class="row">
            <div class="col-md-12"><h3>ランキング</h3></div>
        </div>
        <div class="list-group">
            <% @ranking.each do |review| %>
                <a href="/#review-<%= review.id %>" class="list-group-item"><%= review.title %>  <span class="badge"><span class="glyphicon glyphicon-star"></span><%= review.favorites.count %></span></a>
            <% end %>
        </div>
        <div class="row">
            <div class="col-md-12"><h3>カテゴリ</h3></div>
        </div>
        <div class="list-group">
            <% @categories.each do |category| %>
                <a href="/category/<%= category.id %>" class="list-group-item"><%= category.name %><span class="badge"><span class="glyphicon glyphicon-bookmark"></span> <%= category.reviews.count %></span></a>
            <% end %>
        </div>
    </div>
</div>
<script>
  $(function(){
    $('.favorite').click(function(){
      var id = $(this).data('id')
      var self = $(this)
      $.ajax({
        url: '/favorite',
        type: 'POST',
        data: {
          id: id,
        },
        dataType: 'json'
      })
      .done(function( data, textStatus, jqXHR ) {
        console.log(data)
        if(data.favorite){
          self.addClass('glyphicon-star')
          self.removeClass('glyphicon-star-empty')
        }
        else{
          self.addClass('glyphicon-star-empty')
          self.removeClass('glyphicon-star')
        }

      })
      .fail(function( jqXHR, textStatus, errorThrown) {
        alert('エラーが発生しました')
      })
      .always(function( jqXHR, textStatus) {

      });
    });
  })
</script>
